<!DOCTYPE html>
<html>
<head>

  <title>Welp</title>
</head>
<body>

  <h1>Welp</h1>
  <%= link_to "Add a new restaurant", new_restaurant_path %>
  <%= render 'form' %>

    <section class="restaurant-list">
  <% if @restaurants.any? %>
      <% @restaurants.all.each do |restaurant| %>
        <div class='restaurant' data-id="<%= restaurant.id %>">
          <span class="name"><%= restaurant.name %> </span>   
          <span class="cuisine"><%= restaurant.cuisine %></span>
          <address class="address"><%= restaurant.address %></address>
          <hr />
          <div><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
          <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete, data: {confirm: 'you     sure?'} %>
          </div>
          <h3><%= pluralize restaurant.reviews.count, 'review' %></h3>
          <h4>Average Rating: <%= star_rating(restaurant.average_rating) %>   <%= restaurant.average_rating %></h4>
          <%= form_for [restaurant, @review] do |f| %>
          <%= f.label :comments %>
          <%= f.text_area :comments %>
          <%= f.label :rating %>
          <%= f.select :rating, 1..5 %>
          <%= f.submit 'Submit Review' %>
          <% end %>
          <ul>
            <% restaurant.reviews.reverse.each do |review| %>
              <li>
                <strong><%= star_rating(review.rating) %></strong> - <%= review.comments%>
              </li>
            <%end%>
          </ul>
        </div>
      <% end %>
  <% else %>
    No restaurants yet
  <% end %>
    </section>

  <template id="review_template">
    <li>
      <strong>{{ star_rating }} </strong> - {{ comments }}
    </li>
  </template>

  <template id="ajax_restaurant">
    <div class='restaurant' data-id="{{id}}">
      <span class="name">{{ name }} </span>   
      <span class="cuisine">{{ cuisine }}</span>
      <address class="address">{{ address }}</address>
      <a href="/restaurants/{{id}}/edit">Edit {{name}}</a>
      <a data-confirm="you sure?" data-method="delete" href="/restaurants/{{id}}" rel="nofollow">Delete NOW</a>
    </div>
  </template>
</body>
</html>