<%= link_to "Add a new restaurant", new_restaurant_path %>

<% if @restaurants.any? %>
  <% @restaurants.all.each do |restaurant| %>

      <h2><%= restaurant.name %></h2>
      <%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %>
      <%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete, data: {confirm: 'Are you sure?'} %>

      <h4><%= pluralize restaurant.reviews.count, 'review' %></h4>
      <h3>Average Rating: <%= star_rating(restaurant.average_rating)%></h3>
      <%= form_for [restaurant, @review] do |f| %>
      <%= f.label :comments %>
      <%= f.text_area :comments %>
      <%= f.label :rating %>
      <%= f.select :rating, 1..5 %>
      <%= f.submit 'Submit Review' %>

<% end %>
      <ul>
        <% restaurant.reviews.each do |review| %>
          <li>
            <strong><%= star_rating(review.rating) %></strong> - <%= review.comments%>
          </li>
        <%end%>
      </ul>
  <% end %>
<% else %>
  No restaurants yet
<% end %>
